body{
    margin: 0 auto;
}

h1, h2{
    text-align: center;
}

.all-notes{
    display: flex;
    flex-direction: column;
}

.notes{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 1px solid black;
    width: 100%;
}

.notes-note{
    width: 25%;
    border: 1px solid black;
}

.all{
    display: flex;
    flex-direction: column;
}

.createForm{
    margin: auto;
    width: 220px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.li-list{
    list-style: none;
    border: 1px solid black;
}
.errors{
    display: flex;
    flex-direction: row;
}

.header{
    display: flex;
    flex-direction: row;
}

.image1{
    width: 50%;
}

.image2{
    width: 50%;
}

